.fisrt-section {
  background-color: #F4F4F4;
  z-index: -2;
  font-family: "Ubuntu", sans-serif;
  overflow: hidden;
}
.fisrt-section .color-bg {
  position: absolute;
  width: 90%;
}
.fisrt-section .custom-container-padding {
  padding-left: 150px;
  padding-right: 150px;
}
@media (max-width: 768px) {
  .fisrt-section .custom-container-padding {
    padding-left: 10px;
    padding-right: 10px;
  }
  .fisrt-section .sub-heading {
    font-size: 25px !important;
  }
  .fisrt-section .elite-expertise {
    font-size: 35px !important;
  }
  .fisrt-section .book-your-appointment {
    font-size: 15px !important;
  }
  .fisrt-section .btn-color {
    font-size: 15px !important;
  }
}
.fisrt-section .navbar-color {
  padding: 10px;
  background-color: #73BD49 !important;
  font-family: "Ubuntu", sans-serif;
}
.fisrt-section .navbar-color .nav-link {
  font-size: 16px;
  color: white !important;
}
@media (min-width: 1025px) and (max-width: 1338px) {
  .fisrt-section .navbar-color .nav-link {
    font-size: 13px !important;
  }
}
.fisrt-section .navbar-color .custom-navbar-padding {
  padding-right: 100px;
}
.fisrt-section .navbar-color .custom-navbar-padding .nav-link {
  padding-left: 16px;
  padding-right: 16px;
  font-weight: 500px;
}
.fisrt-section .navbar-color .custom-navbar-padding .border-right {
  border-right: 1px solid #C3C7CB;
}
.fisrt-section .sub-heading {
  color: #73BD49;
  font-size: 27px;
  font-weight: 400;
}
.fisrt-section .elite-expertise {
  font-size: 40px;
  font-weight: 700;
}
.fisrt-section .calendar {
  color: #73BD49;
  font-size: 35px;
}
.fisrt-section .book-apponiment {
  font-weight: 700;
  font-size: 27px;
}
.fisrt-section .book-your-appointment {
  font-size: 12px;
  font-weight: 300;
}
.fisrt-section .btn-color {
  background-color: #73BD49;
  border-radius: 10px !important;
  font-size: 14px;
}
.fisrt-section .bg-image {
  background-image: url("../image/spiral-img.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.fisrt-section .circle-position {
  left: 60%;
}
.fisrt-section .circle-position-left {
  top: 40%;
  left: 30px;
}
.fisrt-section .circle-left {
  -webkit-animation-name: floating;
          animation-name: floating;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}
.fisrt-section .circle {
  -webkit-animation-name: floating;
          animation-name: floating;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}
@-webkit-keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, 0px);
  }
}
@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, 0px);
  }
}
.fisrt-section .triangle-position {
  left: 30%;
}
.fisrt-section .triangle {
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}
@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.fisrt-section .triangle-end-position {
  right: 5%;
}
.fisrt-section .triangle-end {
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}
.fisrt-section .triangle-button {
  bottom: 2%;
  left: 17%;
}
.fisrt-section .triangle-button-down {
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}
.fisrt-section .circle-video {
  bottom: 2%;
  right: 10px;
}
@media (max-width: 576px) {
  .fisrt-section .circle {
    display: none;
  }
  .fisrt-section .triangle {
    display: none;
  }
  .fisrt-section .triangle-end {
    display: none;
  }
}
@media (min-width: 991px) and (max-width: 1024px) {
  .fisrt-section .nav-link {
    font-size: 10px !important;
  }
  .fisrt-section .custom-navbar-padding {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  .fisrt-section .sub-heading {
    font-size: 34px;
  }
  .fisrt-section .elite-expertise {
    font-size: 50px;
  }
}
@media (max-width: 576px) {
  .fisrt-section .custom-fixed {
    width: 100%;
    z-index: 99999;
    position: fixed;
    background-color: #C3C7CB !important;
    margin-bottom: 20px !important;
  }
  .fisrt-section .logo-1 {
    width: 40% !important;
  }
  .fisrt-section .sub-heading {
    margin-top: 30px !important;
  }
}

.rquired-catreogry {
  overflow: hidden;
  background-image: url("../image/wave-bg-13.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #F4F4F4;
}
.rquired-catreogry .custom-container-padding {
  padding-left: 150px;
  padding-right: 150px;
}
.rquired-catreogry .heading {
  font-family: "Ubuntu", sans-serif;
  font-size: 45px;
  font-weight: 700;
}
.rquired-catreogry .sub-heading {
  font-size: 13px;
  font-weight: 300;
}
.rquired-catreogry .dots-position {
  top: 10%;
  left: 13%;
}
.rquired-catreogry .circle-color {
  color: #73BD49;
}
.rquired-catreogry .card-rounded {
  border-radius: 20px !important;
}
.rquired-catreogry .civil {
  font-size: 25px;
  color: #73BD49;
}
.rquired-catreogry .database {
  width: 52% !important;
}
.rquired-catreogry .database-developer {
  color: #73BD49 !important;
  font-size: 18px !important;
}
.rquired-catreogry .electicity {
  width: 90% !important;
}
.rquired-catreogry .mentor {
  width: 83% !important;
}
.rquired-catreogry .consultant-1 {
  font-size: 13px;
  background-color: none !important;
}
.rquired-catreogry .view {
  color: #73BD49;
  font-size: 16px;
}
.rquired-catreogry .bg-image {
  background-image: url("../image/spiral-img.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.rquired-catreogry .circle-position {
  top: 10%;
  left: 60%;
}
.rquired-catreogry .circle-position-left {
  top: 40%;
  left: 30px;
}
.rquired-catreogry .circle-left {
  -webkit-animation-name: floating;
          animation-name: floating;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}
.rquired-catreogry .circle {
  -webkit-animation-name: floating;
          animation-name: floating;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}
@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, 0px);
  }
}
.rquired-catreogry .triangle-position {
  left: 30%;
}
.rquired-catreogry .triangle {
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.rquired-catreogry .triangle-end-position {
  right: 5%;
}
.rquired-catreogry .triangle-end {
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}
.rquired-catreogry .triangle-button {
  top: 2%;
  left: 17%;
}
.rquired-catreogry .triangle-button-down {
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}
@media (max-width: 768px) {
  .rquired-catreogry .custom-container-padding {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .rquired-catreogry .civil {
    font-size: 20px;
  }
  .rquired-catreogry .consultant {
    font-size: 7px;
  }
  .rquired-catreogry .database-developer {
    font-size: 10px !important;
  }
}

.consultant {
  overflow: hidden;
  background-color: #F4F4F4;
}
.consultant .custom-container-padding {
  padding-left: 150px;
  padding-right: 150px;
}
.consultant .heading {
  font-family: "Ubuntu", sans-serif;
  font-size: 45px;
  font-weight: 700;
}
.consultant .sub-heading {
  font-size: 13px;
  font-weight: 300;
}
.consultant .card-rounded {
  border-radius: 10px;
}
.consultant .font-size-red {
  font-size: 10px !important;
}
.consultant .chex-box {
  font-size: 25px;
  color: #73BD49;
}
.consultant .name {
  font-family: "Ubuntu", sans-serif;
  color: #73BD49;
  font-size: 16px;
  font-weight: 600 !important;
}
.consultant .customers {
  font-family: "Ubuntu", sans-serif;
  font-size: 12px !important;
  font-weight: 600 !important;
}
.consultant .doctor {
  font-family: "Ubuntu", sans-serif;
  font-size: 12px !important;
  font-weight: 600 !important;
}
.consultant .pkr {
  color: #73BD49;
  font-size: 12px;
}
.consultant .star {
  font-size: 12px;
  color: #fda400;
}
.consultant .view {
  color: #73BD49;
  font-size: 16px;
}
.consultant .bg-image {
  background-image: url("../image/spiral-img.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.consultant .circle-position {
  top: 10%;
  left: 60%;
}
.consultant .circle-position-left {
  top: 40%;
  left: 30px;
}
.consultant .circle-left {
  -webkit-animation-name: floating;
          animation-name: floating;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}
.consultant .circle {
  -webkit-animation-name: floating;
          animation-name: floating;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}
@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, 0px);
  }
}
.consultant .triangle-position {
  left: 30%;
}
.consultant .triangle {
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.consultant .triangle-end-position {
  right: 5%;
}
.consultant .triangle-end {
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}
.consultant .triangle-button {
  top: 2%;
  left: 17%;
}
.consultant .triangle-button-down {
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}
@media (max-width: 768px) {
  .consultant .custom-container-padding {
    padding-left: 10px;
    padding-right: 10px;
  }
  .consultant .heading {
    font-size: 39px !important;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .consultant .star {
    font-size: 11px !important;
  }
  .consultant .name {
    font-size: 24px !important;
  }
}

.apponiment {
  font-family: "Ubuntu", sans-serif;
  overflow: hidden;
}
.apponiment .custom-container-padding {
  padding-left: 150px;
  padding-right: 150px;
}
.apponiment .get {
  font-size: 8px;
}
.apponiment .bg-image-2 {
  background-image: url("../image/spiral-img.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.apponiment .heading {
  font-family: "Ubuntu", sans-serif;
  font-size: 45px;
  font-weight: 700;
}
.apponiment .help {
  font-size: 23px;
  color: #73BD49 !important;
  margin-bottom: 15px;
  font-weight: 500;
}
.apponiment .btn-google {
  background-color: #73BD49;
  font-size: 18px;
}
.apponiment .btn-apple {
  background-color: black;
  font-size: 18px;
}
.apponiment .btn-apple .apple-width {
  width: 30px;
  height: 30px;
}
.apponiment .big-txt {
  font-size: 13px !important;
  text-transform: capitalize;
}
.apponiment .big-txt-google {
  font-size: 14px;
  text-transform: capitalize;
}
@media (min-width: 820px) and (max-width: 1024px) {
  .apponiment .big-txt-google {
    font-size: 10px !important;
    text-transform: capitalize;
  }
  .apponiment .big-txt {
    font-size: 10px !important;
    text-transform: capitalize;
  }
}
.apponiment .flex {
  display: flex;
}
.apponiment .app-btn {
  width: 45%;
  max-width: 190px;
  color: #fff;
  margin: 20px 10px;
  text-align: left;
  border-radius: 30px;
  text-decoration: none;
  font-family: "Lucida Grande", sans-serif;
  font-size: 10px;
  text-transform: uppercase;
}
.apponiment .app-btn.blu {
  background-color: #101010;
  transition: background-color 0.25s linear;
}
.apponiment .app-btn.blu:hover {
  background-color: #454545;
}
.apponiment .app-btn.google-green {
  background-color: #73BD49;
}
.apponiment .app-btn i {
  width: 20%;
  text-align: center;
  font-size: 39px;
  margin-right: 7px;
}
.apponiment .app-btn .big-txt {
  font-size: 13px;
  text-transform: capitalize;
}
@media (max-width: 576px) {
  .apponiment .get {
    font-size: 6px !important;
  }
  .apponiment .big-txt {
    font-size: 12px !important;
    text-transform: capitalize;
  }
  .apponiment .big-txt-google {
    font-size: 10px !important;
    text-transform: capitalize;
  }
}

.bg-image-2 {
  background-image: url("../image/spiral-img.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.bg-image {
  background-image: url("../image/spiral-img.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.circle-position {
  top: 10%;
  left: 60%;
}

.circle-position-left {
  top: 40%;
  left: 30px;
}

.circle-left {
  -webkit-animation-name: floating;
          animation-name: floating;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

.circle {
  -webkit-animation-name: floating;
          animation-name: floating;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, 0px);
  }
}
.triangle-position {
  left: 30%;
}

.triangle {
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.triangle-end-position {
  right: 5%;
}

.triangle-end {
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

.triangle-button {
  top: 2%;
  left: 17%;
}

.triangle-button-down {
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

.cloud {
  color: #73BD49;
  font-size: 22px;
}

.download {
  color: #73BD49;
  font-size: 16px;
}

@media (max-width: 576px) {
  .heading {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .custom-container-padding {
    padding-right: 10px !important;
    padding-left: 10px !important;
  }
  .help {
    font-size: 14px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .help {
    font-size: 16px;
  }
}
.register {
  overflow: hidden;
  background-color: #EFFAF4;
  padding-bottom: 150px !important;
}
.register .custom-container-padding {
  padding-left: 150px;
  padding-right: 150px;
}
.register .heading {
  font-family: "Ubuntu", sans-serif;
  font-size: 45px;
  font-weight: 700;
}
.register .sub-heading {
  font-size: 14px;
  font-weight: 300;
}
.register .btn-youtube {
  background-color: #c00;
  border-radius: 5px;
  color: white;
  padding: 10px 10px;
  margin: auto, 4px;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.5px;
}
@media (max-width: 768px) {
  .register .custom-container-padding {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}
@media (max-width: 576px) {
  .register .custom-flex {
    display: block !important;
  }
  .register .custom-flex-2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.register .bg-image {
  background-image: url("../image/spiral-img.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.register .circle-position {
  top: 10%;
  left: 60%;
}
.register .circle-position-left {
  top: 40%;
  left: 30px;
}
.register .circle-left {
  -webkit-animation-name: floating;
          animation-name: floating;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}
.register .circle {
  -webkit-animation-name: floating;
          animation-name: floating;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}
@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, 0px);
  }
}
.register .triangle-position {
  left: 30%;
}
.register .triangle {
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.register .triangle-end-position {
  top: 50%;
  right: 5%;
}
.register .triangle-end {
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}
.register .triangle-button {
  top: 2%;
  left: 17%;
}
.register .triangle-button-down {
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

.newsletter {
  top: -50px;
}
.newsletter .custom-container-padding {
  padding-left: 150px;
  padding-right: 150px;
}
.newsletter .box {
  background-color: #73BD49;
}
.newsletter .box .subscribe {
  color: white;
  font-size: 36px;
}
.newsletter .form-control {
  border-radius: 10px !important;
}
.newsletter .form-control::-moz-placeholder {
  font-size: 16px !important;
}
.newsletter .form-control:-ms-input-placeholder {
  font-size: 16px !important;
}
.newsletter .form-control::placeholder {
  font-size: 16px !important;
}
.newsletter .button-position {
  top: 5px;
  bottom: 5px;
  background-color: #73BD49 !important;
  color: white !important;
  border-radius: 10px !important;
  right: 5px;
}
@media (max-width: 576px) {
  .newsletter .subscribe {
    font-size: 24px !important;
  }
}
@media (max-width: 768px) {
  .newsletter .custom-container-padding {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}
.newsletter .bg-image {
  background-image: url("../image/spiral-img.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.newsletter .circle-position {
  top: 10%;
  left: 60%;
}
.newsletter .circle-position-left {
  top: -4%;
  left: 130px;
}
.newsletter .circle-left {
  -webkit-animation-name: floating;
          animation-name: floating;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
  filter: brightness(0) invert(1);
  z-index: 99;
}
.newsletter .circle {
  -webkit-animation-name: floating;
          animation-name: floating;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
  filter: brightness(0) invert(1);
  z-index: 99;
}
@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, 0px);
  }
}
.newsletter .triangle-position {
  left: 30%;
}
.newsletter .triangle {
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
  filter: brightness(0) invert(1);
  z-index: 99;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.newsletter .triangle-end-position {
  top: 50%;
  right: 5%;
}
.newsletter .triangle-end {
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
  filter: brightness(0) invert(1);
  z-index: 99;
}
.newsletter .triangle-button {
  top: 2%;
  left: 17%;
}
.newsletter .triangle-button-down {
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
  filter: brightness(0) invert(1);
  z-index: 99;
}
.newsletter .input-group-text {
  z-index: 999 !important;
}
.newsletter .input-group::-moz-placeholder {
  font-size: 14px !important;
}
.newsletter .input-group:-ms-input-placeholder {
  font-size: 14px !important;
}
.newsletter .input-group::placeholder {
  font-size: 14px !important;
}

.payement {
  overflow: hidden;
}
.payement .custom-container-padding {
  padding-left: 150px;
  padding-right: 150px;
}
.payement .heading {
  font-family: "Ubuntu", sans-serif;
  font-size: 45px;
  font-weight: 700;
}
@media (max-width: 576px) {
  .payement .payement-partner {
    margin-top: 70px !important;
  }
}
.payement .sub-heading {
  font-size: 14px;
  font-weight: 300;
}
.payement .bg-image {
  background-image: url("../image/spiral-img.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.payement .circle-position {
  top: 10%;
  left: 60%;
}
.payement .circle-position-left {
  top: -4%;
  left: 130px;
}
.payement .circle-left {
  -webkit-animation-name: floating;
          animation-name: floating;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}
.payement .circle {
  -webkit-animation-name: floating;
          animation-name: floating;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}
@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, 0px);
  }
}
.payement .triangle-position {
  left: 30%;
}
.payement .triangle-position-2 {
  bottom: 30%;
}
.payement .triangle {
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.payement .triangle-end-position {
  top: 50%;
  right: 5%;
}
.payement .triangle-end {
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}
.payement .triangle-button {
  top: 2%;
  left: 17%;
}
.payement .triangle-button-down {
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}
.payement .card {
  border-radius: 20px !important;
}
@media (max-width: 768px) {
  .payement .custom-container-padding {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 1024px) {
  .payement .heading {
    margin-top: 50px !important;
  }
}

.footer {
  overflow: hidden;
  background-color: #F4F4F4;
}
.footer .custom-container-padding {
  padding-left: 150px;
  padding-right: 150px;
}
.footer .social-media {
  font-size: 22px;
  font-weight: 700;
}
.footer .fb {
  color: rgb(5, 5, 114);
  font-size: 20px;
}
.footer .youtube {
  font-size: 20px;
  color: #c41e08;
}
.footer .insta {
  font-size: 20px;
  color: #dd2295;
}
.footer .custom-list {
  list-style-type: none !important;
  padding-left: 0px !important;
}
.footer .mentee {
  font-size: 22px;
  font-weight: 700;
  font-family: "Ubuntu", sans-serif;
}
.footer .list-items {
  font-size: 16px;
  color: #73BD49;
}
.footer .contact-form {
  border-radius: 10px;
  background-color: #73BD49;
}
.footer .btn-bg {
  color: #73BD49;
  background-color: white;
}
@media (max-width: 768px) {
  .footer .custom-container-padding {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 576px) {
  .footer .social-media {
    font-size: 25px;
  }
  .footer .query {
    margin-top: 20px !important;
  }
}
.footer .form-control {
  padding: 10px;
}
.footer .form-control::-moz-placeholder {
  color: #7f8183;
  font-size: 20px;
}
.footer .form-control:-ms-input-placeholder {
  color: #7f8183;
  font-size: 20px;
}
.footer .form-control::placeholder {
  color: #7f8183;
  font-size: 20px;
}

.footer-2 {
  overflow: hidden;
  background-color: #F4F4F4;
}
.footer-2 .custom-container-padding {
  padding-left: 150px;
  padding-right: 150px;
}
.footer-2 .social-media {
  font-size: 22px;
  font-weight: 700;
}
.footer-2 .fb {
  color: rgb(5, 5, 114);
  font-size: 20px;
}
.footer-2 .youtube {
  font-size: 20px;
  color: #c41e08;
}
.footer-2 .insta {
  font-size: 20px;
  color: #dd2295;
}
.footer-2 .custom-list {
  list-style-type: none !important;
  padding-left: 0px !important;
}
.footer-2 .mentee {
  font-size: 22px;
  font-weight: 700;
  font-family: "Ubuntu", sans-serif;
}
.footer-2 .list-items {
  font-size: 16px;
  color: #73BD49;
}
.footer-2 .contact-form {
  border-radius: 10px;
  background-color: #73BD49;
}
.footer-2 .btn-bg {
  color: #73BD49;
  background-color: white;
}
@media (max-width: 768px) {
  .footer-2 .custom-container-padding {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 576px) {
  .footer-2 .social-media {
    font-size: 25px;
  }
  .footer-2 .query {
    margin-top: 20px !important;
  }
}
.footer-2 .form-control {
  padding: 10px;
}
.footer-2 .form-control::-moz-placeholder {
  color: #7f8183;
  font-size: 20px;
}
.footer-2 .form-control:-ms-input-placeholder {
  color: #7f8183;
  font-size: 20px;
}
.footer-2 .form-control::placeholder {
  color: #7f8183;
  font-size: 20px;
}

.last {
  position: relative;
  background-color: #F4F4F4;
  z-index: -2;
  font-family: "Ubuntu", sans-serif;
  overflow: hidden;
}
.last .color-bg {
  position: absolute;
  width: 90%;
}
.last .custom-container-padding {
  padding-right: 150px;
}
.last .bg-green {
  background-color: #73BD49;
  z-index: 1;
}
@media (max-width: 768px) {
  .last .custom-container-padding {
    padding-right: 10px;
  }
  .last .reserved {
    font-size: 12px;
  }
}
.last .logo {
  position: relative;
  z-index: 1;
}

.login {
  overflow: hidden;
}
.login .coloum-color {
  background: url("../image/Ellipse1.png"), #73BD49;
  background-position: center;
  background-repeat: no-repeat;
}
.login .signup {
  background: url("../image/Ellipsecopy.png"), #f8f8f8;
  background-position: top right;
  background-repeat: no-repeat;
}
.login .login-logo {
  width: 80px !important;
}
.login .nav-pills .nav-link {
  font-family: "Ubuntu", sans-serif;
  color: #73BD49 !important;
  border: 1px solid #73BD49;
  background-color: white;
  border-radius: 10px !important;
  font-size: 16px !important;
}
.login .nav-pills .nav-link.active {
  color: white !important;
  background-color: #73BD49 !important;
  font-size: 16px !important;
}
.login .loginas {
  font-size: 32px;
  color: #73BD49;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
}
.login .flag {
  width: 30px;
}
.login .btn-drop {
  width: 90px !important;
  border: 1px solid #ced4da !important;
  background-color: white;
  color: #7f8183 !important;
}
.login .flag-button {
  font-size: 12px;
}
.login .input-group {
  width: 90%;
}
.login .form-control {
  border-radius: 10px;
  border: 1px solid #ced4da;
}
.login .btn-green {
  font-family: "Ubuntu", sans-serif;
  border-radius: 10px;
  background-color: #73BD49 !important;
  font-weight: 500;
  font-size: 20px;
}
@media (max-width: 576px) {
  .login .btn-tab {
    padding-left: 11px !important;
    padding-right: 11px !important;
  }
  .login .input-group {
    width: 80% !important;
  }
}
.login .flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login .app-btn {
  width: 45%;
  max-width: 160px;
  color: #fff;
  margin: 50px 10px;
  text-align: left;
  border-radius: 5px;
  text-decoration: none;
  font-family: "Lucida Grande", sans-serif;
  font-size: 10px;
  text-transform: uppercase;
}
.login .app-btn.blu {
  background-color: #101010;
  transition: background-color 0.25s linear;
}
.login .app-btn.blu:hover {
  background-color: #454545;
}
.login .app-btn i {
  width: 20%;
  text-align: center;
  font-size: 28px;
  margin-right: 7px;
}
.login .app-btn .big-txt {
  font-size: 17px;
  text-transform: capitalize;
}
.login .btn-custom:hover {
  color: #101010;
  background-color: #cfd2ce !important;
  border: 1px solid #C3C7CB !important;
}

.categories {
  background-color: #F4F4F4;
  z-index: -2;
  font-family: "Ubuntu", sans-serif;
  overflow: hidden;
}
.categories .custom-container-padding {
  padding-left: 150px;
  padding-right: 150px;
}
.categories .color-bg {
  position: absolute;
  width: 90%;
}
.categories .navbar-color {
  padding: 10px;
  background-color: #73BD49 !important;
  font-family: "Ubuntu", sans-serif;
}
.categories .navbar-color .nav-link {
  font-size: 16px;
  color: white !important;
  font-weight: 400;
}
@media (min-width: 823px) and (max-width: 1024px) {
  .categories .navbar-color .nav-link {
    font-size: 8px !important;
  }
}
@media (min-width: 1025px) and (max-width: 1338px) {
  .categories .navbar-color .nav-link {
    font-size: 14px !important;
  }
}
.categories .navbar-color .custom-navbar-padding {
  padding-right: 100px;
}
.categories .navbar-color .custom-navbar-padding .nav-link {
  padding-left: 16px;
  padding-right: 16px;
  font-weight: 500px;
}
.categories .navbar-color .custom-navbar-padding .border-right {
  border-right: 1px solid #C3C7CB;
}
@media (max-width: 768px) {
  .categories .custom-container-padding {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.categories .heading {
  font-size: 45px;
}
@media (max-width: 768px) {
  .categories .heading {
    font-size: 32px !important;
    margin-top: 40px !important;
  }
  .categories .sub-heading {
    width: 100% !important;
  }
}
.categories .sub-heading {
  font-size: 14px;
  width: 55%;
  font-weight: 300;
}
.categories .long-search-bar {
  border-radius: 10px;
  position: relative;
  z-index: 1;
  background-color: #eeeeee;
}
.categories .breadcrumb-home {
  color: #272727 !important;
  text-decoration: none !important;
}
.categories .dots-position {
  left: -33px;
  bottom: 6px;
}
.categories .input-group {
  width: 40% !important;
}
@media (max-width: 768px) {
  .categories .input-group {
    width: 90% !important;
  }
}
.categories .input-group-text {
  right: 10px;
  top: 10px;
  bottom: 10px;
  background-color: #73BD49;
  border-radius: 10px;
}
.categories .form-control {
  border-radius: 15px !important;
}
.categories .form-control::-moz-placeholder {
  color: #C3C7CB !important;
}
.categories .form-control:-ms-input-placeholder {
  color: #C3C7CB !important;
}
.categories .form-control::placeholder {
  color: #C3C7CB !important;
}
.categories .dots-position-2 {
  right: -4px;
  bottom: -22px;
}
.categories .cat-card {
  position: relative;
  min-height: 200px;
  border-radius: 20px;
  background-color: white;
}
.categories .circle-green {
  font-size: 10px;
  color: #73bd49;
  position: absolute;
  right: 30px;
  top: 15px;
}
.categories .enginner-category {
  max-height: 150px !important;
}
.categories .medical {
  color: #73BD49;
  font-size: 28px;
  font-weight: 600;
}
.categories .page-link {
  color: #999 !important;
}
.categories .option-custom {
  border: 1px solid #ccc;
  color: #333;
  outline: 0;
}
.categories #overlayer {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background: #4a4a4a;
}
.categories .loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 3;
  border: 4px solid #Fff;
  top: 50%;
  -webkit-animation: loader 2s infinite ease;
          animation: loader 2s infinite ease;
}
.categories .loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  -webkit-animation: loader-inner 2s infinite ease-in;
          animation: loader-inner 2s infinite ease-in;
}
@-webkit-keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
@keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
@media (max-width: 576px) {
  .categories .custom-fixed {
    width: 100%;
    z-index: 99999;
    position: fixed;
    background-color: #C3C7CB !important;
    margin-bottom: 20px !important;
  }
  .categories .logo-1 {
    width: 40% !important;
  }
  .categories .pagination {
    font-size: 5px !important;
  }
}

.newsletter {
  background-color: #F4F4F4;
}
.newsletter .box {
  background-color: #73BD49;
}
.newsletter .box .subscribe {
  font-size: 40px;
}
@media (max-width: 1024px) {
  .newsletter .box .subscribe {
    font-size: 29px !important;
  }
}
.newsletter .box .sub-heading {
  font-size: 14px;
  font-weight: 300;
  width: 70%;
}
.newsletter .box .form-control::-moz-placeholder {
  font-size: 1rem;
  font-weight: 400;
  color: #212529;
}
.newsletter .box .form-control:-ms-input-placeholder {
  font-size: 1rem;
  font-weight: 400;
  color: #212529;
}
.newsletter .box .form-control::placeholder {
  font-size: 1rem;
  font-weight: 400;
  color: #212529;
}
.newsletter .box .input-group-text {
  right: 5px;
  top: 4px;
  bottom: 4px;
  background-color: #73BD49;
  border-radius: 10px !important;
}

.payement-2 {
  background-color: #F4F4F4;
  overflow: hidden;
}
.payement-2 .custom-container-padding {
  padding-left: 150px;
  padding-right: 150px;
}
.payement-2 .heading {
  font-family: "Ubuntu", sans-serif;
  font-size: 45px;
  font-weight: 700;
}
.payement-2 .sub-heading {
  font-size: 14px;
  font-weight: 300;
}
.payement-2 .bg-image {
  background-image: url("../image/spiral-img.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.payement-2 .circle-position {
  top: 10%;
  left: 60%;
}
.payement-2 .circle-position-left {
  top: -4%;
  left: 130px;
}
.payement-2 .circle-left {
  -webkit-animation-name: floating;
          animation-name: floating;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}
.payement-2 .circle {
  -webkit-animation-name: floating;
          animation-name: floating;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}
@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, 0px);
  }
}
.payement-2 .triangle-position {
  left: 30%;
}
.payement-2 .triangle-position-2 {
  bottom: 30%;
}
.payement-2 .triangle {
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.payement-2 .triangle-end-position {
  top: 50%;
  right: 5%;
}
.payement-2 .triangle-end {
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}
.payement-2 .triangle-button {
  top: 2%;
  left: 17%;
}
.payement-2 .triangle-button-down {
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}
.payement-2 .card {
  border-radius: 20px !important;
}
@media (max-width: 768px) {
  .payement-2 .custom-container-padding {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.about {
  background-color: #F4F4F4;
  z-index: -2;
  font-family: "Ubuntu", sans-serif;
  overflow: hidden;
}
.about .custom-container-padding {
  padding-left: 150px;
  padding-right: 150px;
}
.about .color-bg {
  position: absolute;
  width: 90%;
}
.about .navbar-color {
  padding: 10px;
  background-color: #73BD49 !important;
  font-family: "Ubuntu", sans-serif;
}
.about .navbar-color .nav-link {
  font-size: 16px;
  color: white !important;
  font-weight: 400;
}
@media (min-width: 823px) and (max-width: 1024px) {
  .about .navbar-color .nav-link {
    font-size: 8px !important;
  }
}
@media (min-width: 1025px) and (max-width: 1338px) {
  .about .navbar-color .nav-link {
    font-size: 14px !important;
  }
}
@media (max-width: 576px) {
  .about .navbar-color .navbar {
    background-color: #7f8183 !important;
  }
}
.about .navbar-color .custom-navbar-padding {
  padding-right: 100px;
}
.about .navbar-color .custom-navbar-padding .nav-link {
  padding-left: 16px;
  padding-right: 16px;
  font-weight: 500px;
}
.about .navbar-color .custom-navbar-padding .border-right {
  border-right: 1px solid #C3C7CB;
}
.about .custom-hegiht {
  min-height: 100vh;
}
@media (max-width: 576px) {
  .about .custom-hegiht {
    margin-top: 70px !important;
  }
}
.about .heading {
  font-size: 45px;
  color: #73BD49;
  font-weight: 700;
}
.about .para {
  font-size: 20px;
}
@media (max-width: 576px) {
  .about .custom-fixed {
    width: 100%;
    z-index: 99999;
    position: fixed;
    background-color: #C3C7CB !important;
    margin-bottom: 20px !important;
  }
  .about .logo-1 {
    width: 40% !important;
  }
}

.whyus {
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
}
.whyus.spiral-image {
  background-image: url("../image/spiral-img-c.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-position: 2%;
}
.whyus .heading {
  font-size: 45px;
  color: #73BD49 !important;
  font-weight: 700;
}
.whyus .para {
  font-size: 16px;
}
.whyus .whycustom-image {
  width: 90% !important;
}

@media (max-width: 576px) {
  .whyus {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }
  .heading {
    font-size: 38px !important;
    margin-top: 50px !important;
  }
}
.mission {
  background-color: #F4F4F4;
  background: url("../image/spiral-img-c.png");
  padding-top: 170px !important;
  padding-bottom: 170px !important;
  background-repeat: no-repeat;
  background-position: 100%;
}
.mission .heading {
  font-size: 45px;
  color: #73BD49 !important;
  font-weight: 700;
}
.mission .para {
  font-size: 16px;
}

@media (max-width: 576px) {
  .mission {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }
}
.footer-3 {
  overflow: hidden;
}
.footer-3 .custom-container-padding {
  padding-left: 150px;
  padding-right: 150px;
}
.footer-3 .social-media {
  font-size: 22px;
  font-weight: 700;
}
.footer-3 .fb {
  color: rgb(5, 5, 114);
  font-size: 20px;
}
.footer-3 .youtube {
  font-size: 20px;
  color: #c41e08;
}
.footer-3 .insta {
  font-size: 20px;
  color: #dd2295;
}
.footer-3 .custom-list {
  list-style-type: none !important;
  padding-left: 0px !important;
}
.footer-3 .mentee {
  font-size: 22px;
  font-weight: 700;
  font-family: "Ubuntu", sans-serif;
}
.footer-3 .list-items {
  font-size: 16px;
  color: #73BD49;
}
.footer-3 .contact-form {
  border-radius: 10px;
  background-color: #73BD49;
}
.footer-3 .btn-bg {
  color: #73BD49;
  background-color: white;
}
@media (max-width: 768px) {
  .footer-3 .custom-container-padding {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 576px) {
  .footer-3 .social-media {
    font-size: 25px;
  }
  .footer-3 .query {
    margin-top: 20px !important;
  }
}
.footer-3 .form-control {
  padding: 10px;
}
.footer-3 .form-control::-moz-placeholder {
  color: #7f8183;
  font-size: 20px;
}
.footer-3 .form-control:-ms-input-placeholder {
  color: #7f8183;
  font-size: 20px;
}
.footer-3 .form-control::placeholder {
  color: #7f8183;
  font-size: 20px;
}

.last {
  position: relative;
  background-color: #F4F4F4;
  z-index: -2;
  font-family: "Ubuntu", sans-serif;
  overflow: hidden;
}
.last .color-bg {
  position: absolute;
  width: 90%;
}
.last .custom-container-padding {
  padding-right: 150px;
}
.last .bg-green {
  background-color: #73BD49;
  z-index: 1;
}
@media (max-width: 768px) {
  .last .custom-container-padding {
    padding-right: 10px;
  }
  .last .reserved {
    font-size: 12px;
  }
}
.last .logo {
  position: relative;
  z-index: 1;
}

.contact {
  background-color: #F4F4F4;
  z-index: -2;
  font-family: "Ubuntu", sans-serif;
  overflow: hidden;
}
.contact .color-bg {
  position: absolute;
  width: 90%;
}
.contact .custom-container-padding {
  padding-left: 150px;
  padding-right: 150px;
}
@media (max-width: 768px) {
  .contact .custom-container-padding {
    padding-left: 10px;
    padding-right: 10px;
  }
  .contact .sub-heading {
    font-size: 25px !important;
  }
  .contact .elite-expertise {
    font-size: 35px !important;
  }
  .contact .book-your-appointment {
    font-size: 15px !important;
  }
  .contact .btn-color {
    font-size: 15px !important;
  }
}
.contact .navbar-color {
  padding: 10px;
  background-color: #73BD49 !important;
  font-family: "Ubuntu", sans-serif;
}
.contact .navbar-color .nav-link {
  font-size: 16px;
  color: white !important;
}
@media (min-width: 1025px) and (max-width: 1338px) {
  .contact .navbar-color .nav-link {
    font-size: 13px !important;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .contact .navbar-color .nav-link {
    font-size: 10px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
}
.contact .navbar-color .custom-navbar-padding {
  padding-right: 100px;
}
.contact .navbar-color .custom-navbar-padding .nav-link {
  padding-left: 16px;
  padding-right: 16px;
  font-weight: 500px;
}
.contact .navbar-color .custom-navbar-padding .border-right {
  border-right: 1px solid #C3C7CB;
}
@media (max-width: 576px) {
  .contact .custom-fixed {
    width: 100%;
    z-index: 99999;
    position: fixed;
    background-color: #C3C7CB !important;
    margin-bottom: 20px !important;
  }
  .contact .logo-1 {
    width: 40% !important;
  }
}

.phone {
  background-color: #F4F4F4;
}
.phone .heading {
  font-size: 45px;
  font-size: 700;
  color: #73BD49;
}
.phone .phone-para {
  font-size: 23px;
  font-size: 500;
}

@media (max-width: 576px) {
  .phone {
    margin-top: 70px !important;
  }
}
.custom-cards {
  background-color: #F4F4F4;
}
.custom-cards .phone {
  background-color: #73bd49;
  font-size: 40px;
  padding: 15px;
  border-radius: 50%;
  color: white;
}
.custom-cards .location {
  background-color: #73bd49;
  font-size: 40px;
  padding: 15px;
  border-radius: 50%;
  color: white;
  width: 70px;
}
.custom-cards .call {
  font-size: 24px;
  font-weight: 600;
}
.custom-cards .number {
  font-size: 20px !important;
}
.custom-cards .customcard {
  background-color: white;
  border-radius: 20px !important;
}

.map {
  background-color: #F4F4F4;
}
.map .card-radius {
  border-radius: 20px;
}

.footer-contact {
  overflow: hidden;
}
.footer-contact .custom-container-padding {
  padding-left: 150px;
  padding-right: 150px;
}
.footer-contact .social-media {
  font-size: 22px;
  font-weight: 700;
}
.footer-contact .fb {
  color: rgb(5, 5, 114);
  font-size: 20px;
}
.footer-contact .youtube {
  font-size: 20px;
  color: #c41e08;
}
.footer-contact .insta {
  font-size: 20px;
  color: #dd2295;
}
.footer-contact .custom-list {
  list-style-type: none !important;
  padding-left: 0px !important;
}
.footer-contact .mentee {
  font-size: 22px;
  font-weight: 700;
  font-family: "Ubuntu", sans-serif;
}
.footer-contact .list-items {
  font-size: 16px;
  color: #73BD49;
}
.footer-contact .contact-form {
  border-radius: 10px;
  background-color: #73BD49;
}
.footer-contact .btn-bg {
  color: #73BD49;
  background-color: white;
}
@media (max-width: 768px) {
  .footer-contact .custom-container-padding {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 576px) {
  .footer-contact .social-media {
    font-size: 25px;
  }
  .footer-contact .query {
    margin-top: 20px !important;
  }
}
.footer-contact .form-control {
  padding: 10px;
}
.footer-contact .form-control::-moz-placeholder {
  color: #7f8183;
  font-size: 20px;
}
.footer-contact .form-control:-ms-input-placeholder {
  color: #7f8183;
  font-size: 20px;
}
.footer-contact .form-control::placeholder {
  color: #7f8183;
  font-size: 20px;
}

.last {
  position: relative;
  background-color: #F4F4F4;
  z-index: -2;
  font-family: "Ubuntu", sans-serif;
  overflow: hidden;
}
.last .color-bg {
  position: absolute;
  width: 90%;
}
.last .custom-container-padding {
  padding-right: 150px;
}
.last .bg-green {
  background-color: #73BD49;
  z-index: 1;
}
@media (max-width: 768px) {
  .last .custom-container-padding {
    padding-right: 10px;
  }
  .last .reserved {
    font-size: 12px;
  }
}
.last .logo {
  position: relative;
  z-index: 1;
}

.blog {
  background-color: #F4F4F4;
  z-index: -2;
  font-family: "Ubuntu", sans-serif;
  overflow: hidden;
}
.blog .color-bg {
  position: absolute;
  width: 90%;
}
.blog .custom-container-padding {
  padding-left: 150px;
  padding-right: 150px;
}
@media (max-width: 768px) {
  .blog .custom-container-padding {
    padding-left: 10px;
    padding-right: 10px;
  }
  .blog .sub-heading {
    font-size: 25px !important;
  }
  .blog .elite-expertise {
    font-size: 35px !important;
  }
  .blog .book-your-appointment {
    font-size: 15px !important;
  }
  .blog .btn-color {
    font-size: 15px !important;
  }
}
.blog .navbar-color {
  padding: 10px;
  background-color: #73BD49 !important;
  font-family: "Ubuntu", sans-serif;
}
.blog .navbar-color .nav-link {
  font-size: 16px;
  color: white !important;
}
@media (min-width: 1025px) and (max-width: 1338px) {
  .blog .navbar-color .nav-link {
    font-size: 13px !important;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .blog .navbar-color .nav-link {
    font-size: 10px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
}
.blog .navbar-color .custom-navbar-padding {
  padding-right: 100px;
}
.blog .navbar-color .custom-navbar-padding .nav-link {
  padding-left: 16px;
  padding-right: 16px;
  font-weight: 500px;
}
.blog .navbar-color .custom-navbar-padding .border-right {
  border-right: 1px solid #C3C7CB;
}
@media (max-width: 576px) {
  .blog .custom-fixed {
    width: 100%;
    z-index: 99999;
    position: fixed;
    background-color: #C3C7CB !important;
    margin-bottom: 20px !important;
  }
  .blog .logo-1 {
    width: 40% !important;
  }
}

.posts {
  background-color: #F4F4F4 !important;
}
.posts .img-wrapper {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
}
.posts .blog-card {
  margin-bottom: 180px;
}
.posts .small-card {
  background-color: white !important;
  border-radius: 20px !important;
}
.posts .dsds {
  color: #73BD49;
  font-size: 32px !important;
}
.posts .small-card-position {
  top: 340px;
}
.posts .read {
  color: #73BD49 !important;
  font-size: 24px;
}
.posts .web-image {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  max-height: 400px;
  height: 100%;
  border-radius: 10px;
}
.posts .top-post {
  color: #73BD49 !important;
  font-weight: 700;
}
.posts .tittle {
  color: #73BD49;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}
.posts .medical {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}

.head {
  background-color: #F4F4F4;
}
.head .heading {
  font-size: 45px !important;
}
.head .sub-heading {
  font-size: 16px;
  width: 70% !important;
  font-weight: 300;
}

.blog-footer {
  overflow: hidden;
}
.blog-footer .custom-container-padding {
  padding-left: 150px;
  padding-right: 150px;
}
.blog-footer .social-media {
  font-size: 22px;
  font-weight: 700;
}
.blog-footer .fb {
  color: rgb(5, 5, 114);
  font-size: 20px;
}
.blog-footer .youtube {
  font-size: 20px;
  color: #c41e08;
}
.blog-footer .insta {
  font-size: 20px;
  color: #dd2295;
}
.blog-footer .custom-list {
  list-style-type: none !important;
  padding-left: 0px !important;
}
.blog-footer .mentee {
  font-size: 22px;
  font-weight: 700;
  font-family: "Ubuntu", sans-serif;
}
.blog-footer .list-items {
  font-size: 16px;
  color: #73BD49;
}
.blog-footer .contact-form {
  border-radius: 10px;
  background-color: #73BD49;
}
.blog-footer .btn-bg {
  color: #73BD49;
  background-color: white;
}
@media (max-width: 768px) {
  .blog-footer .custom-container-padding {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 576px) {
  .blog-footer .social-media {
    font-size: 25px;
  }
  .blog-footer .query {
    margin-top: 20px !important;
  }
}
.blog-footer .form-control {
  padding: 10px;
}
.blog-footer .form-control::-moz-placeholder {
  color: #7f8183;
  font-size: 20px;
}
.blog-footer .form-control:-ms-input-placeholder {
  color: #7f8183;
  font-size: 20px;
}
.blog-footer .form-control::placeholder {
  color: #7f8183;
  font-size: 20px;
}

.last {
  position: relative;
  background-color: #F4F4F4;
  z-index: -2;
  font-family: "Ubuntu", sans-serif;
  overflow: hidden;
}
.last .color-bg {
  position: absolute;
  width: 90%;
}
.last .custom-container-padding {
  padding-right: 150px;
}
.last .bg-green {
  background-color: #73BD49;
  z-index: 1;
}
@media (max-width: 768px) {
  .last .custom-container-padding {
    padding-right: 10px;
  }
  .last .reserved {
    font-size: 12px;
  }
}
.last .logo {
  position: relative;
  z-index: 1;
}/*# sourceMappingURL=index.css.map */