.fisrt-section {
    background-color: #F4F4F4;
    z-index: -2;
    font-family: 'Ubuntu', sans-serif;
    overflow: hidden;

    .color-bg {
        position: absolute;
        width: 90%;
    }

    .custom-container-padding {
        padding-left: 150px;
        padding-right: 150px;
    }

    @media (max-width:768px) {
        .custom-container-padding {
            padding-left: 10px;
            padding-right: 10px;
        }

        .sub-heading {
            font-size: 25px !important;
        }

        .elite-expertise {
            font-size: 35px !important;
        }

        .book-your-appointment {
            font-size: 15px !important;
        }

        .btn-color {
            font-size: 15px !important;
        }
    }

    .navbar-color {
        padding: 10px;
        background-color: #73BD49 !important;
        font-family: 'Ubuntu', sans-serif;

        .nav-link {
            font-size: 16px;
            color: white !important;
        }

        @media (min-width:1025px) and (max-width:1338px) {
            .nav-link {
                font-size: 13px !important;
            }
        }

        .custom-navbar-padding {
            padding-right: 100px;

            .nav-link {
                padding-left: 16px;
                padding-right: 16px;
                font-weight: 500px;
            }

            .border-right {
                border-right: 1px solid #C3C7CB;
            }
        }
    }

    .sub-heading {
        color: #73BD49;
        font-size: 27px;
        font-weight: 400;
    }

    .elite-expertise {
        font-size: 40px;
        font-weight: 700;
    }

    .calendar {
        color: #73BD49;
        font-size: 35px;
    }

    .book-apponiment {
        font-weight: 700;
        font-size: 27px;
    }

    .book-your-appointment {
        font-size: 12px;
        font-weight: 300;
    }

    .btn-color {
        background-color: #73BD49;
        border-radius: 10px !important;
        font-size: 14px;
    }

    .bg-image {
        background-image: url('../image/spiral-img.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .circle-position {
        left: 60%;
    }

    .circle-position-left {
        top: 40%;
        left: 30px;
    }

    .circle-left {
        animation-name: floating;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        margin-left: 30px;
        margin-top: 5px;
    }

    .circle {
        animation-name: floating;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        margin-left: 30px;
        margin-top: 5px;
    }

    @keyframes floating {
        0% {
            transform: translate(0, 0px);
        }

        50% {
            transform: translate(0, 15px);
        }

        100% {
            transform: translate(0, -0px);
        }
    }

    .triangle-position {
        left: 30%;
    }

    .triangle {
        animation-name: spin;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        margin-left: 30px;
        margin-top: 5px;
    }

    @keyframes spin {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    .triangle-end-position {
        right: 5%;
    }

    .triangle-end {
        animation-name: spin;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        margin-left: 30px;
        margin-top: 5px;
    }

    .triangle-button {
        bottom: 2%;
        left: 17%;
    }

    .triangle-button-down {
        animation-name: spin;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        margin-left: 30px;
        margin-top: 5px;
    }

    .circle-video {
        bottom: 2%;
        right: 10px;
    }

    @media (max-width:576px) {
        .circle {
            display: none;
        }

        .triangle {
            display: none;
        }

        .triangle-end {
            display: none;
        }
    }

    @media (min-width:991px) and (max-width:1024px) {
        .nav-link {
            font-size: 10px !important;
        }

        .custom-navbar-padding {
            padding-left: 5px !important;
            padding-right: 5px !important;
        }

        .sub-heading {
            font-size: 34px;
        }

        .elite-expertise {
            font-size: 50px;
        }
    }

    @media (max-width:576px) {
        .custom-fixed {
            width: 100%;
            z-index: 99999;
            position: fixed;
            background-color: #C3C7CB !important;
            margin-bottom: 20px !important;
        }

        .logo-1 {
            width: 40% !important;
        }

        .sub-heading {
            margin-top: 30px !important;
        }
    }

}

.rquired-catreogry {
    overflow: hidden;
    background-image: url('../image/wave-bg-13.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #F4F4F4;

    .custom-container-padding {
        padding-left: 150px;
        padding-right: 150px;
    }

    .heading {
        font-family: 'Ubuntu', sans-serif;
        font-size: 45px;
        font-weight: 700;
    }

    .sub-heading {
        font-size: 13px;
        font-weight: 300;
    }

    .dots-position {
        top: 10%;
        left: 13%;
    }

    .circle-color {
        color: #73BD49;
    }

    .card-rounded {
        border-radius: 20px !important;
    }

    .civil {
        font-size: 25px;
        color: #73BD49;
    }

    .database {
        width: 52% !important;
    }

    .database-developer {
        color: #73BD49 !important;
        font-size: 18px !important;
    }

    .electicity {
        width: 90% !important;
    }

    .mentor {
        width: 83% !important;
    }

    .consultant-1 {
        font-size: 13px;
        background-color: none !important;
    }

    .view {
        color: #73BD49;
        font-size: 16px;
    }

    .bg-image {
        background-image: url('../image/spiral-img.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .circle-position {
        top: 10%;
        left: 60%;
    }

    .circle-position-left {
        top: 40%;
        left: 30px;
    }

    .circle-left {
        animation-name: floating;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        margin-left: 30px;
        margin-top: 5px;
    }

    .circle {
        animation-name: floating;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        margin-left: 30px;
        margin-top: 5px;
    }

    @keyframes floating {
        0% {
            transform: translate(0, 0px);
        }

        50% {
            transform: translate(0, 15px);
        }

        100% {
            transform: translate(0, -0px);
        }
    }

    .triangle-position {
        left: 30%;
    }

    .triangle {
        animation-name: spin;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        margin-left: 30px;
        margin-top: 5px;
    }

    @keyframes spin {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    .triangle-end-position {
        right: 5%;
    }

    .triangle-end {
        animation-name: spin;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        margin-left: 30px;
        margin-top: 5px;
    }

    .triangle-button {
        top: 2%;
        left: 17%;
    }

    .triangle-button-down {
        animation-name: spin;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        margin-left: 30px;
        margin-top: 5px;
    }

    @media (max-width:768px) {
        .custom-container-padding {
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    @media (min-width:768px) and (max-width:1024px) {
        .civil {
            font-size: 20px;
        }

        .consultant {
            font-size: 7px;
        }

        .database-developer {
            font-size: 10px !important;
        }
    }
}




.consultant {
    overflow: hidden;

    .custom-container-padding {
        padding-left: 150px;
        padding-right: 150px;
    }

    background-color: #F4F4F4;

    .heading {
        font-family: 'Ubuntu', sans-serif;
        font-size: 45px;
        font-weight: 700;
    }

    .sub-heading {
        font-size: 13px;
        font-weight: 300;
    }

    .card-rounded {
        border-radius: 10px;
    }

    .font-size-red {
        font-size: 10px !important;
    }

    .chex-box {
        font-size: 25px;
        color: #73BD49;
    }

    .name {
        font-family: 'Ubuntu', sans-serif;
        color: #73BD49;
        font-size: 16px;
        font-weight: 600 !important;

    }

    .customers {
        font-family: 'Ubuntu', sans-serif;
        font-size: 12px !important;
        font-weight: 600 !important;
    }

    .doctor {
        font-family: 'Ubuntu', sans-serif;
        font-size: 12px !important;
        font-weight: 600 !important;
    }

    .pkr {
        color: #73BD49;
        font-size: 12px;
    }

    .star {
        font-size: 12px;
        color: #fda400;
    }

    .view {
        color: #73BD49;
        font-size: 16px;
    }

    .bg-image {
        background-image: url('../image/spiral-img.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .circle-position {
        top: 10%;
        left: 60%;
    }

    .circle-position-left {
        top: 40%;
        left: 30px;
    }

    .circle-left {
        animation-name: floating;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        margin-left: 30px;
        margin-top: 5px;
    }

    .circle {
        animation-name: floating;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        margin-left: 30px;
        margin-top: 5px;
    }

    @keyframes floating {
        0% {
            transform: translate(0, 0px);
        }

        50% {
            transform: translate(0, 15px);
        }

        100% {
            transform: translate(0, -0px);
        }
    }

    .triangle-position {
        left: 30%;
    }

    .triangle {
        animation-name: spin;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        margin-left: 30px;
        margin-top: 5px;
    }

    @keyframes spin {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    .triangle-end-position {
        right: 5%;
    }

    .triangle-end {
        animation-name: spin;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        margin-left: 30px;
        margin-top: 5px;
    }

    .triangle-button {
        top: 2%;
        left: 17%;
    }

    .triangle-button-down {
        animation-name: spin;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        margin-left: 30px;
        margin-top: 5px;
    }


    @media (max-width:768px) {
        .custom-container-padding {
            padding-left: 10px;
            padding-right: 10px;
        }

        .heading {
            font-size: 39px !important;
        }
    }

    @media (min-width:768px) and (max-width:1024px) {
        .star {
            font-size: 11px !important;
        }

        .name {
            font-size: 24px !important;
        }
    }
}




.apponiment {
    font-family: 'Ubuntu', sans-serif;
    overflow: hidden;

    .custom-container-padding {
        padding-left: 150px;
        padding-right: 150px;
    }

    .get {
        font-size: 8px;
    }

    .bg-image-2 {
        background-image: url('../image/spiral-img.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .heading {
        font-family: 'Ubuntu', sans-serif;
        font-size: 45px;
        font-weight: 700;
    }

    .help {
        font-size: 23px;
        color: #73BD49 !important;
        margin-bottom: 15px;
        font-weight: 500;
    }

    .btn-google {
        background-color: #73BD49;
        font-size: 18px;
    }

    .btn-apple {
        background-color: black;
        font-size: 18px;

        .apple-width {
            width: 30px;
            height: 30px;
        }

    }

    .big-txt {
        font-size: 13px !important;
        text-transform: capitalize;
    }



    .big-txt-google {
        font-size: 14px;
        text-transform: capitalize;
    }

    @media (min-width:820px) and (max-width:1024px) {
        .big-txt-google {
            font-size: 10px !important;
            text-transform: capitalize;
        }

        .big-txt {
            font-size: 10px !important;
            text-transform: capitalize;
        }
    }


    .flex {
        display: flex;
        // align-items: center;
        // justify-content: center;
    }

    .app {
        &-btn {
            width: 45%;
            max-width: 190px;
            color: #fff;
            margin: 20px 10px;
            text-align: left;
            border-radius: 30px;
            text-decoration: none;
            font-family: "Lucida Grande", sans-serif;
            font-size: 10px;
            text-transform: uppercase;

            &.blu {
                background-color: #101010;
                transition: background-color 0.25s linear;

                &:hover {
                    background-color: #454545;
                }

            }

            &.google-green {
                background-color: #73BD49;
            }

            i {
                width: 20%;
                text-align: center;
                font-size: 39px;
                margin-right: 7px;
            }

            .big-txt {
                font-size: 13px;
                text-transform: capitalize;
            }
        }
    }


    @media (max-width:576px) {
        .get {
            font-size: 6px !important;
        }

        .big-txt {
            font-size: 12px !important;
            text-transform: capitalize;
        }

        .big-txt-google {
            font-size: 10px !important;
            text-transform: capitalize;
        }
    }
}



.bg-image-2 {
    background-image: url('../image/spiral-img.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.bg-image {
    background-image: url('../image/spiral-img.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.circle-position {
    top: 10%;
    left: 60%;
}

.circle-position-left {
    top: 40%;
    left: 30px;
}

.circle-left {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

.circle {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 15px);
    }

    100% {
        transform: translate(0, -0px);
    }
}

.triangle-position {
    left: 30%;
}

.triangle {
    animation-name: spin;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.triangle-end-position {
    right: 5%;
}

.triangle-end {
    animation-name: spin;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

.triangle-button {
    top: 2%;
    left: 17%;
}

.triangle-button-down {
    animation-name: spin;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

.cloud {
    color: #73BD49;
    font-size: 22px;
}

.download {
    color: #73BD49;
    font-size: 16px;
}

@media (max-width:576px) {
    .heading {
        font-size: 40px;
    }
}

@media (max-width:768px) {
    .custom-container-padding {
        padding-right: 10px !important;
        padding-left: 10px !important;
    }

    .help {
        font-size: 14px;
    }
}

@media (min-width:768px) and (max-width:1024px) {
    .help {
        font-size: 16px;
    }
}


.register {
    overflow: hidden;
    background-color: #EFFAF4;
    padding-bottom: 150px !important;

    .custom-container-padding {
        padding-left: 150px;
        padding-right: 150px;
    }

    .heading {
        font-family: 'Ubuntu', sans-serif;
        font-size: 45px;
        font-weight: 700;
    }

    .sub-heading {
        font-size: 14px;
        font-weight: 300;
    }

    .btn-youtube {
        background-color: #c00;
        border-radius: 5px;
        color: white;
        padding: 10px 10px;
        margin: auto, 4px;
        white-space: nowrap;
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 0.5px;
    }

    // .line {
    //     width: 100%;
    //     height: 25px;
    //     border-radius: 10px;
    //     background-color: #73BD49;
    //     position: relative;
    // }

    // .triangle-down {
    //     width: 0;
    //     height: 0;
    //     border-left: 25px solid transparent;
    //     border-right: 25px solid transparent;
    //     border-top: 50px solid #73BD49;
    // }

    @media (max-width:768px) {
        .custom-container-padding {
            padding-left: 10px !important;
            padding-right: 10px !important;
        }
    }

    @media (max-width:576px) {
        .custom-flex {
            display: block !important;
        }

        .custom-flex-2 {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .bg-image {
        background-image: url('../image/spiral-img.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .circle-position {
        top: 10%;
        left: 60%;
    }

    .circle-position-left {
        top: 40%;
        left: 30px;
    }

    .circle-left {
        animation-name: floating;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        margin-left: 30px;
        margin-top: 5px;
    }

    .circle {
        animation-name: floating;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        margin-left: 30px;
        margin-top: 5px;
    }

    @keyframes floating {
        0% {
            transform: translate(0, 0px);
        }

        50% {
            transform: translate(0, 15px);
        }

        100% {
            transform: translate(0, -0px);
        }
    }

    .triangle-position {
        left: 30%;
    }

    .triangle {
        animation-name: spin;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        margin-left: 30px;
        margin-top: 5px;
    }

    @keyframes spin {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    .triangle-end-position {
        top: 50%;
        right: 5%;
    }

    .triangle-end {
        animation-name: spin;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        margin-left: 30px;
        margin-top: 5px;
    }

    .triangle-button {
        top: 2%;
        left: 17%;
    }

    .triangle-button-down {
        animation-name: spin;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        margin-left: 30px;
        margin-top: 5px;
    }
}

.newsletter {
    top: -50px;

    .custom-container-padding {
        padding-left: 150px;
        padding-right: 150px;

    }

    .box {
        background-color: #73BD49;

        .subscribe {
            color: white;
            font-size: 36px;
        }
    }

    .form-control {
        border-radius: 10px !important;

        &::placeholder {
            font-size: 16px !important;
        }
    }

    .button-position {
        top: 5px;
        bottom: 5px;
        background-color: #73BD49 !important;
        color: white !important;
        border-radius: 10px !important;
        right: 5px;
    }

    @media (max-width:576px) {
        .subscribe {
            font-size: 24px !important;
        }
    }

    @media (max-width:768px) {
        .custom-container-padding {
            padding-left: 10px !important;
            padding-right: 10px !important;
        }

    }

    .bg-image {
        background-image: url('../image/spiral-img.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .circle-position {
        top: 10%;
        left: 60%;
    }

    .circle-position-left {
        top: -4%;
        left: 130px;
    }

    .circle-left {
        animation-name: floating;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        margin-left: 30px;
        margin-top: 5px;
        filter: brightness(0) invert(1);
        z-index: 99;
    }

    .circle {
        animation-name: floating;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        margin-left: 30px;
        margin-top: 5px;
        filter: brightness(0) invert(1);
        z-index: 99;
    }

    @keyframes floating {
        0% {
            transform: translate(0, 0px);
        }

        50% {
            transform: translate(0, 15px);
        }

        100% {
            transform: translate(0, -0px);
        }
    }

    .triangle-position {
        left: 30%;
    }

    .triangle {
        animation-name: spin;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        margin-left: 30px;
        margin-top: 5px;
        filter: brightness(0) invert(1);
        z-index: 99;
    }

    @keyframes spin {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    .triangle-end-position {
        top: 50%;
        right: 5%;
    }

    .triangle-end {
        animation-name: spin;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        margin-left: 30px;
        margin-top: 5px;
        filter: brightness(0) invert(1);
        z-index: 99;
    }

    .triangle-button {
        top: 2%;
        left: 17%;
    }

    .triangle-button-down {
        animation-name: spin;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        margin-left: 30px;
        margin-top: 5px;
        filter: brightness(0) invert(1);
        z-index: 99;
    }

    .input-group-text {
        z-index: 999 !important;
    }

    .input-group {
        &::placeholder {
            font-size: 14px !important;
        }
    }
}

.payement {
    overflow: hidden;

    .custom-container-padding {
        padding-left: 150px;
        padding-right: 150px;
    }

    .heading {
        font-family: 'Ubuntu', sans-serif;
        font-size: 45px;
        font-weight: 700;
    }

    @media (max-width:576px) {
        .payement-partner {
            margin-top: 70px !important;
        }
    }

    .sub-heading {
        font-size: 14px;
        font-weight: 300;
    }

    .bg-image {
        background-image: url('../image/spiral-img.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .circle-position {
        top: 10%;
        left: 60%;
    }

    .circle-position-left {
        top: -4%;
        left: 130px;
    }

    .circle-left {
        animation-name: floating;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        margin-left: 30px;
        margin-top: 5px;
    }

    .circle {
        animation-name: floating;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        margin-left: 30px;
        margin-top: 5px;
    }

    @keyframes floating {
        0% {
            transform: translate(0, 0px);
        }

        50% {
            transform: translate(0, 15px);
        }

        100% {
            transform: translate(0, -0px);
        }
    }

    .triangle-position {
        left: 30%;
    }

    .triangle-position-2 {
        bottom: 30%;
    }

    .triangle {
        animation-name: spin;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        margin-left: 30px;
        margin-top: 5px;
    }

    @keyframes spin {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    .triangle-end-position {
        top: 50%;
        right: 5%;
    }

    .triangle-end {
        animation-name: spin;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        margin-left: 30px;
        margin-top: 5px;
    }

    .triangle-button {
        top: 2%;
        left: 17%;
    }

    .triangle-button-down {
        animation-name: spin;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        margin-left: 30px;
        margin-top: 5px;
    }

    .card {
        border-radius: 20px !important;
    }

    @media (max-width:768px) {
        .custom-container-padding {
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    @media (max-width:1024px) {
        .heading {
            margin-top: 50px !important;
        }
    }
}

.footer {
    overflow: hidden;
    background-color: #F4F4F4;

    .custom-container-padding {
        padding-left: 150px;
        padding-right: 150px;
    }

    .social-media {
        font-size: 22px;
        font-weight: 700;
    }

    .fb {
        color: rgb(5, 5, 114);
        font-size: 20px;
    }

    .youtube {
        font-size: 20px;
        color: #c41e08;
    }

    .insta {
        font-size: 20px;
        color: #dd2295
    }

    .custom-list {
        list-style-type: none !important;
        padding-left: 0px !important;
    }

    .mentee {
        font-size: 22px;
        font-weight: 700;
        font-family: 'Ubuntu', sans-serif;
    }

    .list-items {
        font-size: 16px;
        color: #73BD49;
    }

    .contact-form {
        border-radius: 10px;
        background-color: #73BD49;
    }

    .btn-bg {
        color: #73BD49;
        background-color: white;
    }

    @media (max-width:768px) {
        .custom-container-padding {
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    @media (max-width:576px) {
        .social-media {
            font-size: 25px;
        }

        .query {
            margin-top: 20px !important;
        }
    }

    .form-control {
        padding: 10px;

        &::placeholder {
            color: #7f8183;
            font-size: 20px;
        }
    }
}

.footer-2 {
    overflow: hidden;
    background-color: #F4F4F4;

    .custom-container-padding {
        padding-left: 150px;
        padding-right: 150px;
    }

    .social-media {
        font-size: 22px;
        font-weight: 700;
    }

    .fb {
        color: rgb(5, 5, 114);
        font-size: 20px;
    }

    .youtube {
        font-size: 20px;
        color: #c41e08;
    }

    .insta {
        font-size: 20px;
        color: #dd2295
    }

    .custom-list {
        list-style-type: none !important;
        padding-left: 0px !important;
    }

    .mentee {
        font-size: 22px;
        font-weight: 700;
        font-family: 'Ubuntu', sans-serif;
    }

    .list-items {
        font-size: 16px;
        color: #73BD49;
    }

    .contact-form {
        border-radius: 10px;
        background-color: #73BD49;
    }

    .btn-bg {
        color: #73BD49;
        background-color: white;
    }

    @media (max-width:768px) {
        .custom-container-padding {
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    @media (max-width:576px) {
        .social-media {
            font-size: 25px;
        }

        .query {
            margin-top: 20px !important;
        }
    }

    .form-control {
        padding: 10px;

        &::placeholder {
            color: #7f8183;
            font-size: 20px;
        }
    }
}

.last {
    position: relative;
    background-color: #F4F4F4;
    z-index: -2;
    font-family: 'Ubuntu', sans-serif;
    overflow: hidden;

    .color-bg {
        position: absolute;
        width: 90%;
    }

    .custom-container-padding {
        padding-right: 150px;
    }

    .bg-green {
        background-color: #73BD49;
        z-index: 1;
    }

    @media (max-width:768px) {
        .custom-container-padding {
            padding-right: 10px;
        }

        .reserved {
            font-size: 12px;
        }
    }

    .logo {
        position: relative;
        z-index: 1;
    }
}

.login {
    overflow: hidden;

    .coloum-color {
        background: url('../image/Ellipse1.png'), #73BD49;
        background-position: center;
        background-repeat: no-repeat;
        // height: 100vh;
    }

    .signup {
        background: url('../image/Ellipsecopy.png'), #f8f8f8;
        background-position: top right;
        background-repeat: no-repeat;
    }

    .login-logo {
        width: 80px !important;
    }

    .nav-pills {
        .nav-link {
            font-family: 'Ubuntu', sans-serif;
            color: #73BD49 !important;
            border: 1px solid #73BD49;
            background-color: white;
            border-radius: 10px !important;
            font-size: 16px !important;

            &.active {
                color: white !important;
                background-color: #73BD49 !important;
                font-size: 16px !important;
            }
        }
    }

    .loginas {
        font-size: 32px;
        color: #73BD49;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 700;
    }

    .flag {
        width: 30px;
    }

    .btn-drop {
        width: 90px !important;
        border: 1px solid #ced4da !important;
        background-color: white;
        color: #7f8183 !important;
    }

    .flag-button {
        font-size: 12px;
    }

    .input-group {
        width: 90%;
    }

    .form-control {
        border-radius: 10px;
        border: 1px solid #ced4da;
    }

    .btn-green {
        font-family: 'Ubuntu', sans-serif;
        border-radius: 10px;
        background-color: #73BD49 !important;
        font-weight: 500;
        font-size: 20px;
    }

    @media (max-width:576px) {
        .btn-tab {
            padding-left: 11px !important;
            padding-right: 11px !important;
        }

        .input-group {
            width: 80% !important;
        }

    }

    .flex {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .app {
        &-btn {
            width: 45%;
            max-width: 160px;
            color: #fff;
            margin: 50px 10px;
            text-align: left;
            border-radius: 5px;
            text-decoration: none;
            font-family: "Lucida Grande", sans-serif;
            font-size: 10px;
            text-transform: uppercase;

            &.blu {
                background-color: #101010;
                transition: background-color 0.25s linear;

                &:hover {
                    background-color: #454545;
                }
            }

            i {
                width: 20%;
                text-align: center;
                font-size: 28px;
                margin-right: 7px;
            }

            .big-txt {
                font-size: 17px;
                text-transform: capitalize;
            }

        }

    }

    .btn-custom {
        &:hover {
            color: #101010;
            background-color: #cfd2ce !important;
            border: 1px solid #C3C7CB !important;
        }
    }
}

.categories {
    background-color: #F4F4F4;
    z-index: -2;
    font-family: 'Ubuntu', sans-serif;
    overflow: hidden;

    .custom-container-padding {
        padding-left: 150px;
        padding-right: 150px;
    }

    .color-bg {
        position: absolute;
        width: 90%;
    }

    .navbar-color {
        padding: 10px;
        background-color: #73BD49 !important;
        font-family: 'Ubuntu', sans-serif;

        .nav-link {
            font-size: 16px;
            color: white !important;
            font-weight: 400;
        }

        @media (min-width:823px) and (max-width:1024px) {
            .nav-link {
                font-size: 8px !important;
            }
        }

        @media (min-width:1025px) and (max-width:1338px) {
            .nav-link {
                font-size: 14px !important;
            }
        }

        .custom-navbar-padding {
            padding-right: 100px;

            .nav-link {
                padding-left: 16px;
                padding-right: 16px;
                font-weight: 500px;
            }

            .border-right {
                border-right: 1px solid #C3C7CB;
            }
        }
    }

    @media (max-width:768px) {
        .custom-container-padding {
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    .heading {
        font-size: 45px;
    }

    @media (max-width:768px) {
        .heading {
            font-size: 32px !important;
            margin-top: 40px !important;
        }

        .sub-heading {
            width: 100% !important;
        }
    }

    .sub-heading {
        font-size: 14px;
        width: 55%;
        font-weight: 300;
    }

    .long-search-bar {
        border-radius: 10px;
        position: relative;
        z-index: 1;
        background-color: #eeeeee;
    }

    .breadcrumb-home {
        color: #272727 !important;
        text-decoration: none !important;
    }

    .dots-position {
        left: -33px;
        bottom: 6px;
    }

    .input-group {
        width: 40% !important;
    }

    @media (max-width:768px) {
        .input-group {
            width: 90% !important;
        }
    }

    .input-group-text {
        right: 10px;
        top: 10px;
        bottom: 10px;
        background-color: #73BD49;
        border-radius: 10px;
    }

    .form-control {
        border-radius: 15px !important;

        &::placeholder {
            color: #C3C7CB !important;
        }
    }

    .dots-position-2 {
        right: -4px;
        bottom: -22px;
    }

    .cat-card {
        position: relative;
        min-height: 200px;
        border-radius: 20px;
        background-color: white;
    }

    .circle-green {
        font-size: 10px;
        color: #73bd49;
        position: absolute;
        right: 30px;
        top: 15px;
    }

    .enginner-category {
        max-height: 150px !important;
    }

    .medical {
        color: #73BD49;
        font-size: 28px;
        font-weight: 600;
    }

    .page-link {
        color: #999 !important;
    }

    .option-custom {
        border: 1px solid #ccc;
        color: #333;
        outline: 0;
    }

    #overlayer {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        background: #4a4a4a;
    }

    .loader {
        display: inline-block;
        width: 30px;
        height: 30px;
        position: absolute;
        z-index: 3;
        border: 4px solid #Fff;
        top: 50%;
        animation: loader 2s infinite ease;
    }

    .loader-inner {
        vertical-align: top;
        display: inline-block;
        width: 100%;
        background-color: #fff;
        animation: loader-inner 2s infinite ease-in;
    }

    @keyframes loader {
        0% {
            transform: rotate(0deg);
        }

        25% {
            transform: rotate(180deg);
        }

        50% {
            transform: rotate(180deg);
        }

        75% {
            transform: rotate(360deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    @keyframes loader-inner {
        0% {
            height: 0%;
        }

        25% {
            height: 0%;
        }

        50% {
            height: 100%;
        }

        75% {
            height: 100%;
        }

        100% {
            height: 0%;
        }
    }

    @media (max-width:576px) {
        .custom-fixed {
            width: 100%;
            z-index: 99999;
            position: fixed;
            background-color: #C3C7CB !important;
            margin-bottom: 20px !important;
        }

        .logo-1 {
            width: 40% !important;
        }

        .pagination {
            font-size: 5px !important;
        }
    }
}




.newsletter {
    background-color: #F4F4F4;

    .box {
        background-color: #73BD49;

        .subscribe {
            font-size: 40px;
        }

        @media (max-width:1024px) {
            .subscribe {
                font-size: 29px !important;
            }
        }

        .sub-heading {
            font-size: 14px;
            font-weight: 300;
            width: 70%;
        }

        .form-control {
            &::placeholder {
                font-size: 1rem;
                font-weight: 400;
                color: #212529;
            }
        }

        .input-group-text {
            right: 5px;
            top: 4px;
            bottom: 4px;
            background-color: #73BD49;
            border-radius: 10px !important;
        }
    }
}

.payement-2 {
    background-color: #F4F4F4;
    overflow: hidden;

    .custom-container-padding {
        padding-left: 150px;
        padding-right: 150px;
    }

    .heading {
        font-family: 'Ubuntu', sans-serif;
        font-size: 45px;
        font-weight: 700;
    }

    .sub-heading {
        font-size: 14px;
        font-weight: 300;
    }

    .bg-image {
        background-image: url('../image/spiral-img.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .circle-position {
        top: 10%;
        left: 60%;
    }

    .circle-position-left {
        top: -4%;
        left: 130px;
    }

    .circle-left {
        animation-name: floating;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        margin-left: 30px;
        margin-top: 5px;
    }

    .circle {
        animation-name: floating;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        margin-left: 30px;
        margin-top: 5px;
    }

    @keyframes floating {
        0% {
            transform: translate(0, 0px);
        }

        50% {
            transform: translate(0, 15px);
        }

        100% {
            transform: translate(0, -0px);
        }
    }

    .triangle-position {
        left: 30%;
    }

    .triangle-position-2 {
        bottom: 30%;
    }

    .triangle {
        animation-name: spin;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        margin-left: 30px;
        margin-top: 5px;
    }

    @keyframes spin {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    .triangle-end-position {
        top: 50%;
        right: 5%;
    }

    .triangle-end {
        animation-name: spin;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        margin-left: 30px;
        margin-top: 5px;
    }

    .triangle-button {
        top: 2%;
        left: 17%;
    }

    .triangle-button-down {
        animation-name: spin;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        margin-left: 30px;
        margin-top: 5px;
    }

    .card {
        border-radius: 20px !important;
    }

    @media (max-width:768px) {
        .custom-container-padding {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}

.about {
    background-color: #F4F4F4;
    z-index: -2;
    font-family: 'Ubuntu', sans-serif;
    overflow: hidden;

    .custom-container-padding {
        padding-left: 150px;
        padding-right: 150px;
    }

    .color-bg {
        position: absolute;
        width: 90%;
    }

    .navbar-color {
        padding: 10px;
        background-color: #73BD49 !important;
        font-family: 'Ubuntu', sans-serif;

        .nav-link {
            font-size: 16px;
            color: white !important;
            font-weight: 400;
        }

        @media (min-width:823px) and (max-width:1024px) {
            .nav-link {
                font-size: 8px !important;
            }
        }

        @media (min-width:1025px) and (max-width:1338px) {
            .nav-link {
                font-size: 14px !important;
            }
        }

        @media (max-width:576px) {
            .navbar {
                background-color: #7f8183 !important;
            }
        }

        .custom-navbar-padding {
            padding-right: 100px;

            .nav-link {
                padding-left: 16px;
                padding-right: 16px;
                font-weight: 500px;
            }

            .border-right {
                border-right: 1px solid #C3C7CB;
            }
        }
    }

    .custom-hegiht {
        min-height: 100vh;
    }

    @media (max-width:576px) {
        .custom-hegiht {
            margin-top: 70px !important;
        }
    }

    .heading {
        font-size: 45px;
        color: #73BD49;
        font-weight: 700;
    }

    .para {
        font-size: 20px;
    }

    @media (max-width:576px) {
        .custom-fixed {
            width: 100%;
            z-index: 99999;
            position: fixed;
            background-color: #C3C7CB !important;
            margin-bottom: 20px !important;
        }

        .logo-1 {
            width: 40% !important;
        }
    }
}



.whyus {
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;

    &.spiral-image {
        background-image: url('../image/spiral-img-c.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        background-position: 2%;
    }

    .heading {
        font-size: 45px;
        color: #73BD49 !important;
        font-weight: 700;
    }

    .para {
        font-size: 16px;
    }

    .whycustom-image {
        width: 90% !important;
    }
}

@media (max-width:576px) {
    .whyus {
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }

    .heading {
        font-size: 38px !important;
        margin-top: 50px !important;
    }
}





.mission {
    background-color: #F4F4F4;
    background: url('../image/spiral-img-c.png');
    padding-top: 170px !important;
    padding-bottom: 170px !important;
    background-repeat: no-repeat;
    background-position: 100%;

    .heading {
        font-size: 45px;
        color: #73BD49 !important;
        font-weight: 700;
    }

    .para {
        font-size: 16px;
    }
}

@media (max-width:576px) {
    .mission {
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }
}




.footer-3 {
    overflow: hidden;

    .custom-container-padding {
        padding-left: 150px;
        padding-right: 150px;
    }

    .social-media {
        font-size: 22px;
        font-weight: 700;
    }

    .fb {
        color: rgb(5, 5, 114);
        font-size: 20px;
    }

    .youtube {
        font-size: 20px;
        color: #c41e08;
    }

    .insta {
        font-size: 20px;
        color: #dd2295
    }

    .custom-list {
        list-style-type: none !important;
        padding-left: 0px !important;
    }

    .mentee {
        font-size: 22px;
        font-weight: 700;
        font-family: 'Ubuntu', sans-serif;
    }

    .list-items {
        font-size: 16px;
        color: #73BD49;
    }

    .contact-form {
        border-radius: 10px;
        background-color: #73BD49;
    }

    .btn-bg {
        color: #73BD49;
        background-color: white;
    }

    @media (max-width:768px) {
        .custom-container-padding {
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    @media (max-width:576px) {
        .social-media {
            font-size: 25px;
        }

        .query {
            margin-top: 20px !important;
        }
    }

    .form-control {
        padding: 10px;

        &::placeholder {
            color: #7f8183;
            font-size: 20px;
        }
    }
}

.last {
    position: relative;
    background-color: #F4F4F4;
    z-index: -2;
    font-family: 'Ubuntu', sans-serif;
    overflow: hidden;

    .color-bg {
        position: absolute;
        width: 90%;
    }

    .custom-container-padding {
        padding-right: 150px;
    }

    .bg-green {
        background-color: #73BD49;
        z-index: 1;
    }

    @media (max-width:768px) {
        .custom-container-padding {
            padding-right: 10px;
        }

        .reserved {
            font-size: 12px;
        }
    }

    .logo {
        position: relative;
        z-index: 1;
    }
}


.contact {
    background-color: #F4F4F4;
    z-index: -2;
    font-family: 'Ubuntu', sans-serif;
    overflow: hidden;

    .color-bg {
        position: absolute;
        width: 90%;
    }

    .custom-container-padding {
        padding-left: 150px;
        padding-right: 150px;
    }

    @media (max-width:768px) {
        .custom-container-padding {
            padding-left: 10px;
            padding-right: 10px;
        }

        .sub-heading {
            font-size: 25px !important;
        }

        .elite-expertise {
            font-size: 35px !important;
        }

        .book-your-appointment {
            font-size: 15px !important;
        }

        .btn-color {
            font-size: 15px !important;
        }
    }

    .navbar-color {
        padding: 10px;
        background-color: #73BD49 !important;
        font-family: 'Ubuntu', sans-serif;

        .nav-link {
            font-size: 16px;
            color: white !important;
        }

        @media (min-width:1025px) and (max-width:1338px) {
            .nav-link {
                font-size: 13px !important;
            }
        }

        @media (min-width:768px) and (max-width:1024px) {
            .nav-link {
                font-size: 10px !important;
                padding-left: 5px !important;
                padding-right: 5px !important;
            }
        }

        .custom-navbar-padding {
            padding-right: 100px;

            .nav-link {
                padding-left: 16px;
                padding-right: 16px;
                font-weight: 500px;
            }

            .border-right {
                border-right: 1px solid #C3C7CB;
            }
        }
    }

    @media (max-width:576px) {
        .custom-fixed {
            width: 100%;
            z-index: 99999;
            position: fixed;
            background-color: #C3C7CB !important;
            margin-bottom: 20px !important;
        }

        .logo-1 {
            width: 40% !important;
        }
    }
}

.phone {
    background-color: #F4F4F4;

    .heading {
        font-size: 45px;
        font-size: 700;
        color: #73BD49;
    }

    .phone-para {
        font-size: 23px;
        font-size: 500;
    }
}

@media (max-width:576px) {
    .phone {
        margin-top: 70px !important;
    }
}

.custom-cards {
    background-color: #F4F4F4;

    .phone {
        background-color: #73bd49;
        font-size: 40px;
        padding: 15px;
        border-radius: 50%;
        color: white;
    }

    .location {
        background-color: #73bd49;
        font-size: 40px;
        padding: 15px;
        border-radius: 50%;
        color: white;
        width: 70px;
    }

    .call {
        font-size: 24px;
        font-weight: 600;
    }

    .number {
        font-size: 20px !important;
    }

    .customcard {
        background-color: white;
        border-radius: 20px !important;
    }
}

.map {
    background-color: #F4F4F4;

    .card-radius {
        border-radius: 20px;
    }
}





.footer-contact {
    overflow: hidden;
    // background-color: #F4F4F4;

    .custom-container-padding {
        padding-left: 150px;
        padding-right: 150px;
    }

    .social-media {
        font-size: 22px;
        font-weight: 700;
    }

    .fb {
        color: rgb(5, 5, 114);
        font-size: 20px;
    }

    .youtube {
        font-size: 20px;
        color: #c41e08;
    }

    .insta {
        font-size: 20px;
        color: #dd2295
    }

    .custom-list {
        list-style-type: none !important;
        padding-left: 0px !important;
    }

    .mentee {
        font-size: 22px;
        font-weight: 700;
        font-family: 'Ubuntu', sans-serif;
    }

    .list-items {
        font-size: 16px;
        color: #73BD49;
    }

    .contact-form {
        border-radius: 10px;
        background-color: #73BD49;
    }

    .btn-bg {
        color: #73BD49;
        background-color: white;
    }

    @media (max-width:768px) {
        .custom-container-padding {
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    @media (max-width:576px) {
        .social-media {
            font-size: 25px;
        }

        .query {
            margin-top: 20px !important;
        }
    }

    .form-control {
        padding: 10px;

        &::placeholder {
            color: #7f8183;
            font-size: 20px;
        }
    }
}

.last {
    position: relative;
    background-color: #F4F4F4;
    z-index: -2;
    font-family: 'Ubuntu', sans-serif;
    overflow: hidden;

    .color-bg {
        position: absolute;
        width: 90%;
    }

    .custom-container-padding {
        padding-right: 150px;
    }

    .bg-green {
        background-color: #73BD49;
        z-index: 1;
    }

    @media (max-width:768px) {
        .custom-container-padding {
            padding-right: 10px;
        }

        .reserved {
            font-size: 12px;
        }
    }

    .logo {
        position: relative;
        z-index: 1;
    }
}



.blog {
    background-color: #F4F4F4;
    z-index: -2;
    font-family: 'Ubuntu', sans-serif;
    overflow: hidden;

    .color-bg {
        position: absolute;
        width: 90%;
    }

    .custom-container-padding {
        padding-left: 150px;
        padding-right: 150px;
    }

    @media (max-width:768px) {
        .custom-container-padding {
            padding-left: 10px;
            padding-right: 10px;
        }

        .sub-heading {
            font-size: 25px !important;
        }

        .elite-expertise {
            font-size: 35px !important;
        }

        .book-your-appointment {
            font-size: 15px !important;
        }

        .btn-color {
            font-size: 15px !important;
        }
    }

    .navbar-color {
        padding: 10px;
        background-color: #73BD49 !important;
        font-family: 'Ubuntu', sans-serif;

        .nav-link {
            font-size: 16px;
            color: white !important;
        }

        @media (min-width:1025px) and (max-width:1338px) {
            .nav-link {
                font-size: 13px !important;
            }
        }

        @media (min-width:768px) and (max-width:1024px) {
            .nav-link {
                font-size: 10px !important;
                padding-left: 5px !important;
                padding-right: 5px !important;
            }
        }

        .custom-navbar-padding {
            padding-right: 100px;

            .nav-link {
                padding-left: 16px;
                padding-right: 16px;
                font-weight: 500px;
            }

            .border-right {
                border-right: 1px solid #C3C7CB;
            }
        }
    }

    @media (max-width:576px) {
        .custom-fixed {
            width: 100%;
            z-index: 99999;
            position: fixed;
            background-color: #C3C7CB !important;
            margin-bottom: 20px !important;
        }

        .logo-1 {
            width: 40% !important;
        }
    }
}

.posts {
    background-color: #F4F4F4 !important;

    .img-wrapper {
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        border-radius: 10px;
    }

    .blog-card {
        margin-bottom: 180px;
    }

    .small-card {
        background-color: white !important;
        border-radius: 20px !important;
    }

    .dsds {
        color: #73BD49;
        font-size: 32px !important;
    }

    .small-card-position {
        top: 340px;
    }
    .read{
        color: #73BD49 !important;
        font-size: 24px;
    }
    .web-image{
        object-fit: cover;
        object-position: center;
        max-height: 400px;
        height: 100%;
        border-radius: 10px;
    }
    .top-post{
        color: #73BD49 !important;
        font-weight: 700;
    }
    .tittle{
        color: #73BD49;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 400;
    }
    .medical{
        font-family: 'Ubuntu', sans-serif;
        font-weight: 400;
    }
}





.head {
    background-color: #F4F4F4;

    .heading {
        font-size: 45px !important;
    }

    .sub-heading {
        font-size: 16px;
        width: 70% !important;
        font-weight: 300;
    }
}






.blog-footer {
    overflow: hidden;

    .custom-container-padding {
        padding-left: 150px;
        padding-right: 150px;
    }

    .social-media {
        font-size: 22px;
        font-weight: 700;
    }

    .fb {
        color: rgb(5, 5, 114);
        font-size: 20px;
    }

    .youtube {
        font-size: 20px;
        color: #c41e08;
    }

    .insta {
        font-size: 20px;
        color: #dd2295
    }

    .custom-list {
        list-style-type: none !important;
        padding-left: 0px !important;
    }

    .mentee {
        font-size: 22px;
        font-weight: 700;
        font-family: 'Ubuntu', sans-serif;
    }

    .list-items {
        font-size: 16px;
        color: #73BD49;
    }

    .contact-form {
        border-radius: 10px;
        background-color: #73BD49;
    }

    .btn-bg {
        color: #73BD49;
        background-color: white;
    }

    @media (max-width:768px) {
        .custom-container-padding {
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    @media (max-width:576px) {
        .social-media {
            font-size: 25px;
        }

        .query {
            margin-top: 20px !important;
        }
    }

    .form-control {
        padding: 10px;

        &::placeholder {
            color: #7f8183;
            font-size: 20px;
        }
    }
}

.last {
    position: relative;
    background-color: #F4F4F4;
    z-index: -2;
    font-family: 'Ubuntu', sans-serif;
    overflow: hidden;

    .color-bg {
        position: absolute;
        width: 90%;
    }

    .custom-container-padding {
        padding-right: 150px;
    }

    .bg-green {
        background-color: #73BD49;
        z-index: 1;
    }

    @media (max-width:768px) {
        .custom-container-padding {
            padding-right: 10px;
        }

        .reserved {
            font-size: 12px;
        }
    }

    .logo {
        position: relative;
        z-index: 1;
    }
}